/* Body styling */
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

/* Canvas container styling */
#canvasContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* Canvas styling */
canvas {
    border: 2px solid #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Angle display styling */
#angleDisplay {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #333;
}

/* Button styling */
button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3498db;
    /* Blue button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
    background-color: #2980b9;
    /* Darker blue on hover */
}

/* Label styling */
label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    /* Add margin-bottom to separate labels vertically */
}

/* Radio input styling */
input[type="radio"] {
    margin-right: 5px;
    margin-bottom: 10px;
    /* Add margin-bottom to separate radio buttons vertically */
}

/* Result styling */
#iResult {
    height: 40px;
    width: 120px;
    border: 1px solid #333;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
}

/* Tick and cross styling */
.tickcss,
.crosscss {
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
    align-items: center;
    font-size: 18px;
}

/* Tick styling */
.tickcss {
    background-image: url("images/correct.png");
}

/* Cross styling */
.crosscss {
    background-image: url("images/wrong.jpeg");
}

#ht {
    margin-top: -499px;
    margin-right: -690px;
    font-size: 20px;
    color: #000000;
}